body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {

}

#buttons {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

button {
  border-radius: 5px;
  display: inline-flex;
  background-color: gold;
  font-size: 2rem;
}

button:active {
  background-color: goldenrod;
}
